/* CSS BY Carley Gohring */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* CSS RESET */
/*CSS RESET by Eric Meyer*/
/* Meyer’s Reset CSS v2.0 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Ensure block elements behave consistently */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Reset lists */
ol, ul {
  list-style: none;
}

/* Reset quotes */
blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
  content: '';
  content: none;
}

/* Reset table styles */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ROOT VARIABLES */
:root {
    --font-family: 'Inter';
    --teal: #4CA7C0;
    --purple: #484FB7;
    --lavender: #6B8FE7;
    --yellow: #E9BB57;
    --pink: #D9526F;
    --dark-gray: #1E1E1E;
    --white: #ffffff;
}
/* GLOBAL STYLES (mobile first/small) */
* {
    font-family: var(--font-family);
    color: var(--dark-gray);
}

body {
    max-width: 450px;
    margin: 0 auto;
    background-color: var(--lavender);
    font-size: 16px;
}

/*section styles*/
section {
    background-color: var(--purple);
}

/*Header Styles*/
h1, h2 {
    font-family: 'Kavoon';
    color: var(--white);
}

h1 {
    font-size: 3em;
    background-color: var(--purple);
    text-align: center;
    padding: 20px 10px 10px 10px;
}

header p {
    color: var(--white);
    font-family: var(--font-family);
    background-color: var(--purple);
    text-align: center;
    font-style: oblique;
    padding-bottom: 40px; 
}

h2 {
    font-size: 2em;
    padding: 15px 0px 0px 15px;

}

nav h2 {
    font-size: 1.5em;
    color: var(--dark-gray);
    font-family: var(--font-family);
    font-weight: bold;
    font-style: oblique;
    text-transform: uppercase;
    background-color: var(--yellow);
    text-align: center;
    padding: 5px;
}

h3 {
    font-size: 1.5em;
    color: var(--yellow); 
    font-weight: bold;
    padding: 0px 0px 0px 15px;
}

h4 {
    font-size: 1.15em;
    color: var(--purple);
    font-weight: bold;
    padding: 10px 0px 6px 20px;
}

/*Navigation Styles*/

nav ul li {
    text-align: center;
    padding: 5px;
    background-color: var(--white);
    padding: 10px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin: 10px;
}

nav a {
    color: var(--purple);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: var(--font-family);
    padding: 10px;
}

/*img styles*/
img {
    padding: 15px 0px 0px 20px;
}

/*a styles*/
p ~ a {
    color: var(--dark-gray);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--white);
    padding: 15px;
    margin: 10px 30px;
    border-radius: 10px;
    box-shadow: 4px 4px 3px #1E1E1E;
    display: block;
    text-align: center;
}

/*text styles*/
p {
    padding: 0px 20px 15px 20px;
}

h2 ~ p {
    color: var(--white);
}

small {
    color: var(--white);
}

footer a {
    color: var(--white);
}

/*table styles*/
table {
    background-color: var(--yellow);
    margin: 10px auto;
}

th{ 
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border: 2px solid var(--yellow);
}

td {
    background-color: var(--white);
    padding: 10px;
    border: 2px solid var(--yellow);
}


/*footer styles*/
footer {
    background-color: var(--purple);
}

/*class styles*/

.hidden {
    display: none;
    color: var(--white);
    font-family: var(--font-family);
    background-color: var(--purple);
    text-align: center;
    font-style: oblique;
}

.nav {
    background-color: var(--yellow);
}

.white-container {
    background-color: var(--white);
    padding: 1rem;
    margin: 1rem;
    border-radius: 15px;
}

.pink-container {
    background-color: var(--pink);
}


